/* TAG CSS */
body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

button{
    border: none;
    font-family: "Montserrat","Avenir";
    /* font-size: 150%; */
    background: none;
    text-transform: uppercase;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    height: 100%;
}

button:hover{
    color: white;
    background-color: steelblue;
    cursor: pointer;
    
}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

/* Class CSS */
.square{
    width: 30%;
    background: purple;
    padding-top: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 20%;
    transition: background 0.3s;
}

.selected{
    color: white;
    background-color: steelblue;
}



/* span{
    color: white;
} */
/* ID CSS */

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

#colorPicked{
    font-size: 200%;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

#message{
    display: inline-block;
    width: 20%;
}




